.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 1em;
}

.box {
  border: 1px solid black;
  padding: 1em;
}

button {
  margin: 1em;
  margin-top: 2em;
}